doctype html
html
  head
    link(rel='manifest', href='/manifest.json')
    link(rel='stylesheet', href='/app.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='/game.js')
    script(src='/main.js')
    title ddddd
  body
    h1.header ddddd
    .menu
      ul
        li
          a(href='/') home
    .main
      a#play_button.button(href='/play') syncing...
    include footer.pug
